<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add New Author</title>
</head>
<body>
	<div>
		<div>
			<a href="/">Home</a>
		</div>
		<form th:action="@{/addauthor}" method="post" enctype="multipart/form-data">
			<table>
				<tr>
					<td>First Name:</td>
					<td><input name="fname" /></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input name="lname" /></td>
				</tr>
			</table>
			<br>
			<div>
				<input th:type="submit" value="Submit" name="submit">
			</div>
		</form>
		
	</div>

</body>
</html>
